@{
    ViewBag.Title = "Allama Iqbal Grammar School";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Alama Iqbal Grammar School</title>
    <meta name="keywords" content="floral designer, free css template, web design, CSS, HTML" />
    <meta name="description" content="floral designer - HTML CSS, free css template provided by templatemo.com" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />

    <link href="~/Images/logo.jpg" rel="shortcut icon" type="image/x-icon" />
    
    
    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>
</head>
<body>
    <div id="templatemo_search_bar_wrapper">

        <div id="templatemo_search_bar">
            <div id="search_box">
                <form action="#" method="get">
                    <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                    <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" />
                </form>
            </div>
        </div>

    </div>

    <div id="templatemo_banner_bar_wrapper">

        <div id="templatemo_banner_bar">

        </div>

    </div>

    <div id="templatemo_menu_wrapper">

        <div id="templatemo_menu">

            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">Admissions</a></li>
                <li><a href="#" >Gallery</a></li>
                <li><a href="#">About Us</a></li>
                <li class="last"><a href="#">Contact</a></li>
            </ul>

        </div>

    </div>

    <div id="templatemo_content_wrapper">

        <div id="templatemo_content">

            <div class="section_w950 section_one">

                <h1>Admissions are open</h1>
                <p>Get your child registered today   !!!</p>

            </div>

            <div class="cleaner_h20"></div>

            <div class="section_w450 fl">

                <h2>The Labortory</h2>

                <div class="section_content">

                    <a href="#" target="_blank"><img class="image_wrapper" src="~/Images/lab.jpg" alt="Lab" /></a>
                    <p>
                       Departments
                    </p>

                    <ul class="list_01">
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Chemistery</a></li>
                        <li><a href="#">Biology</a></li>
                        <li><a href="#">Physics</a></li>

                    </ul>

                </div>

            </div>

            <div class="section_w450 fr">

                <h2>For Kids</h2>

                <div class="section_content">

                    <a href="#" target="_blank"><img class="image_wrapper" src="~/Images/kids.jpg" alt="Kids" /></a>
                    <p>Friendly Atmosphere</p>
                </div>

                <div class="cleaner_h30"></div>

                <h2>Play Ground</h2>

                <div class="section_content">

                    <a href="#" target="_blank"><img class="image_wrapper" src="~/Images/play.jpg" alt="Kids" /></a>
                    <p>Physical Exercise</p>

                </div>

            </div>

            <div class="section_w950">

                <h2>Photo Gallery</h2>

                <div class="section_content">

                    <div class="image_wrapper_02">
                        <a href="#">
                            <span></span>
                            <img src="~/Images/1.jpg" alt="photo 1" width="170" height="170" />
                        </a>
                    </div>

                    <div class="image_wrapper_02">
                        <a href="#">
                            <span></span>
                            <img src="~/Images/2.jpg" alt="photo 2" width="170" height="170" />
                        </a>
                    </div>

                    <div class="image_wrapper_02">
                        <a href="#">
                            <span></span>
                            <img src="~/Images/3.jpg" alt="photo 3" width="170" height="170" />
                        </a>
                    </div>

                    <div class="image_wrapper_02">
                        <a href="#">
                            <span></span>
                            <img src="~/Images/4.jpg" alt="photo 4" width="170" height="170" />
                        </a>
                    </div>

                    <div class="cleaner"></div>

                    <div class="button_01 fr"><a href="#">View All</a></div>

                </div>

            </div>

            <div class="cleaner"></div>

            <div id="templatemo_footer">
                  2015| 
                Website Developed</a> by <a href="http://about.me/hammad.hassan" target="_blank">Hammad | Email: mcsf13m036@pucit.edu.pk</a>
            </div> <!-- end of footer -->
        </div>
    </div>
    
</body>
</html>